/*--Remember the cascade: Later styles override earlier ones and more specific styles override more general ones.--*/
body {
  color: #444;
  font-size: 16px;
  font-family: 'Gentium Book Basic', sans-serif;
}
p {
  margin-bottom: .67em;

}
p:first-of-type:first-letter {
  float: left;
  font-size: 45px;
  line-height: 1;
  font-weight: bold;
  margin: 0 auto;
  font-family: 'Gentium Book Basic', sans-serif;
  color: #2e4057;
  text-shadow: #5f758e .05em .05em;
}

nav, footer {
  background-color: #2E4057;
}
footer {
  text-align: center;
  padding: 1em 0 .3em 0;
  color: #D0D0D0;
}
/*-- Main Menu Styles--*/
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 1em;
}
nav a:link, nav a:visited {
  color: #f1f2eb;
  text-decoration: none;
}
nav a:hover, nav a:active  {
  color: #F0F0F0;
  text-decoration: underline;
}
nav a.active {
  color: #f1f2eb;
}
/*-- Hero Unit Styles--*/
header {
  width: 510px;
  margin-top: 2em;
  margin-bottom: 2em;
  margin: 2em auto;
}
header img {
  width: 100%;
  margin: 0 auto;
}
header h1 {
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
}
.small {
  margin-top: 1em;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 100%;
  color: #2e4057
}
/*-- Article Styles--*/
article {
  width: 768px;
  font-size: 18px;
  line-height: 1.3;
  margin: 0 auto;
}
article figure {
  width: 39%;
  margin: 0 0 1.25em 1.25em;
  float: right;
}
article figcaption {
  font-size: 15px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.pagination {
  margin: 2em auto;
  width: 96%;
  display: flex;
  justify-content: space-between;
}
a.button {
  border: 1px solid #5f758e;
  padding: .4em 1em .4em 1em;
  text-decoration: none;
  color: #5f758e;
  border-radius: 200px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 80%;
}
a.button:hover, a.button:active {
  border: 1px solid #2e4057;
  text-decoration: none;
  color: #2e4057;
}
/*-- changes header and article width on small screens --*/
@media screen and (max-width: 768px) {
  header {width: 96%;}
  article {width: 96%;}
}
